:root {
    --background-color: black; 
    --text-color: #F8F8F8; 
    --slider-background: #F8F8F8;
    --slider-border: #F8F8F8; 
    --yourbreaks-border: #F8F8F8;
    --inner-shadow-dark: 
        inset 0 0 4px rgba(0, 0, 0, 0.5);
    --inner-shadow-light: 
        inset 0 0 4px #62B1BA;
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: #F8F8F8;
    --slider-background: #F8F8F8;
    --slider-border: #F8F8F8;
    --yourbreaks-border: #F8F8F8;
    --inner-shadow-dark: 
        inset 0 0 4px rgba(0, 0, 0, 0.5);
    --inner-shadow-light: 
        inset 0 0 4px #62B1BA;
}

[data-theme='light'] {
    --background-color: #F8F8F8;
    --text-color: black;
    --slider-background: #F8F8F8;
    --slider-border: black;
    --inner-shadow-dark: 
        inset 0 0 4px rgba(0, 0, 0, 0.5);
    --inner-shadow-light: 
        inset 0 0 4px #62B1BA;
    --yourbreaks-border: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

/* The nav */
.dnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; 
    background-color: var(--background-color); 
}

.logo {
    height: 70px; 
}

[data-theme='dark'] .logo {
    height: 70px; 
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px; 
    height: 20px; 
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    border: 2px solid var(--slider-border);
    transition: background-color 0.4s, border-color 0.4s;
    border-radius: 20px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px; 
    width: 8px;
    left: 2px; 
    bottom: 2px;
    background-color: var(--slider-background);
    transition: transform 0.4s;
    border: 2px solid var(--slider-border);
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000;
    border-color: #F8F8F8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
    transform: translateX(20px);
}



/* The body section */

.dbodysec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
}

.yourbreaksec{
    border: var(--yourbreaks-border) 2px solid;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.yourbreaks{
    color: #62B1BA;
    font-family: 'Roboto';
    font-size: 32pt;
}

.thechecklist {
    list-style-type: none;
    padding: 0; 
}

.thechecklist li {
    margin: 10px 0; 
}

.thechecklist input[type="checkbox"] {
    margin-right: 10px; 
}





.breaktimesec {
    padding: 20px;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    justify-content: space-around;
    align-items: center;
}



.maintxt {
    color: #62B1BA;
    font-size: 48pt;
    font-family: 'Pacifico';
    text-align: center;
    margin-bottom: 20px;
}
.subtext {
    color: var(--text-color); 
    font-size: 16px; 
    text-align: center;
    margin: 0 0 10px;
}

.duserinput {
    border: 2px solid var(--yourbreaks-border);
    border-radius: 10px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


select, 
input[type="time"] {
    padding: 10px;
    border: 2px solid var(--yourbreaks-border);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s;
}

.clockdurate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

input[type="time"] {
    padding: 10px;
    border: 2px solid var(--yourbreaks-border);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color); 
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s;
}

[data-theme='dark'] input[type="time"] {
    background-color: #33333371; 
    color: #F8F8F8;
    border: 2px solid #F8F8F8; 
}


[data-theme='dark'] input[type="time"]:focus {
    border-color: #62B1BA;
}

select:focus, 
input[type="time"]:focus {
    border-color: #62B1BA; 
    outline: none;
    background-color: var(--background-color);
}
button[type="submit"] {
    padding: 10px 20px;
    color: var(--text-color);
    border: 2px solid var(--yourbreaks-border); 
    background-color: var(--background-color);
    border-radius: 5px;
    font-family: 'Anonymous Pro';
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #4a9e9c; 
    border-color: #62B1BA; 
}



/* Media Queries */

/* Styles for tablets */
@media (max-width: 768px) {
    .dnav {
        padding: 10px 20px; 
    }


    .dbodysec {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    
    
    .breaktimesec {
        order: 1;
    }

    .yourbreaksec {
        order: 2; 
    }


    .yourbreaks {
        font-size: 24pt;
    }

    .maintxt {
        font-size: 32pt; 
    }

    .subtext {
        font-size: 14px; 
    }

    .duserinput {
        width: 100%;
        padding: 10px; 
        margin: 0 auto;
        box-sizing: border-box;
    }


    .clockdurate {
        flex-direction: column; 
        align-items: stretch;
        gap: 10px;
    }
}

/* Styles for mobile devices */
@media (max-width: 480px) {
    .dnav {
        flex-direction: column;
        align-items: center; 
        padding: 10px 0; 
    }

    .logo {
        height: 50px;
    }


    .dbodysec {
        display: flex;
        flex-direction: column;
    }
    
    .breaktimesec {
        order: 1; 
    }
    
    .yourbreaksec {
        order: 2;
    }
    

    .yourbreaksec,
    .breaktimesec {
        padding: 10px; 
        margin: 10px 0; 
    }

    .duserinput {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px; 
        box-sizing: border-box;
        gap: 10px;
    }

    select, 
    input[type="time"],
    button[type="submit"] {
        max-width: 100%;
        font-size: 14px; 
    }
}
